body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

header {
  background-color: #6f5499;
  color: #FFF;
  padding: 30px 20px;
  font-size: 30px;
  font-weight: bold;
}

header .title {
  margin: 0px
}

.container {
  padding: 20px;
}

textarea {
  border: 1px solid #d5d6d9;
  padding: 10px;
  color: #444;
  font-size: 13px;
  border-radius: 4px;
  outline: 0px;
}

textarea:focus {
  border: 1px solid #6f5499;
}

textarea:hover, select:hover {
  box-shadow: 2px 2px 4px #EEE;
}

select {
  height: 30px;
  min-width: 100px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d5d6d9;
  border-radius: 4px;
  outline: 0px;
}

select:focus {
  border: 1px solid #6f5499;
}

.csv-input {
  margin-top: 10px;
  width: 50%;
  min-width: 300px;
}

.section {
  margin-bottom: 15px;
}

label {
  display: block;
}

.button {
  border: 1px solid #6f5499;
  font-size: 14px;
  padding: 8px 15px;
  background-color: #FFF;
  outline: none;
  color: #6f5499;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #6f5499;
  color: #FFF;
}

table {
  border: 1px solid #d5d6d9;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 30px;
}

th, td {
  border: 1px solid #d5d6d9;
  padding: 5px;
}

th {
  padding: 10px 5px;
  background-color: #EEE;
}

.thumb {
  width: 50px;
  height: 40px;
  background-color: #CCC;
}